<div class="field">
    <label for="name">Name</label>
    <input type="text" pInputText name="name" [appServerSide]="errors$" #nameField="ngModel" [(ngModel)]="item.name" required autofocus/>
    <small *ngIf="nameField.control.errors?.serverSide">{{nameField.control.errors.serverSide}}</small>
</div>

<div class="field">
    <label for="author">Author</label>
    <p-autoComplete name="author"
                [showClear]="true"
                (onClear)="onClearAuthor()"
                [dropdown]="true"
                (completeMethod)="onLazyLoadAuthors($event)"
                field="name"
                [appServerSide]="errors$"
                [suggestions]="authors"
                [(ngModel)]="item.author" #authorField="ngModel"></p-autoComplete>
    <small *ngIf="authorField.control.errors?.serverSide">{{authorField.control.errors.serverSide}}</small>
</div>

<div class="field">
    <label for="description">Description</label>
    <textarea name="description" pInputTextarea [appServerSide]="errors$" #descriptionField="ngModel" [(ngModel)]="item.description" required rows="3" cols="20"></textarea>
    <small *ngIf="descriptionField.control.errors?.serverSide">{{descriptionField.control.errors.serverSide}}</small>
</div>
