<div class="grid dashboard">
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box blue">
            <i class="pi pi-globe"></i>
            <h5>Global Listings</h5>
            <span>4 Active Listings</span>
        </div>
    </div>
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box green">
            <i class="pi pi-dollar"></i>
            <h5>Today's Sales</h5>
            <span>$784.00 sales so far</span>
        </div>
    </div>
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box orange">
            <i class="pi pi-tag"></i>
            <h5>Open Orders</h5>
            <span>14 Pending Orders</span>
        </div>
    </div>
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box lime">
            <i class="pi pi-money-bill"></i>
            <h5>Total Balance</h5>
            <span>$87,974.00</span>
        </div>
    </div>
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box purple">
            <i class="pi pi-envelope"></i>
            <h5>Buyer Messages</h5>
            <span>1 Unread Message</span>
        </div>
    </div>
    <div class="col-6 md:col-4 xl:col-2">
        <div class="card overview-box turquoise">
            <i class="pi pi-desktop"></i>
            <h5>Today's Sessions</h5>
            <span>1028 sessions so far</span>
        </div>
    </div>
</div>
